# Ignore temporary files
*.swp
__pycache__

# Ignore files that are experiments: can be used to have a file at root level, calling the other modules
ex*.py
*.ipynb
.ipynb_checkpoints

# Ignore results in data folder
data/

